In [10]:
import pandas as pd

import numpy as np

In [11]:
acc_pan_alpha = pd.read_csv("accessions.csv")

In [12]:
acc_pan_alpha.columns

Index(['Accession', 'Pangolin'], dtype='object')

In [13]:
acc_pan_alpha["Pangolin"].unique()

array(['B.1.1.7'], dtype=object)

In [15]:
acc_pan_gamma=pd.read_csv("Gamma_P.1.csv")

In [16]:
acc_pan_gamma

     Accession Pangolin
0     MW988204      P.1
1     MZ376178      P.1
2     MZ317192      P.1
3     MZ192710      P.1
4     MZ167833      P.1
...        ...      ...
5466  MZ397166      P.1
5467  MZ397167      P.1
5468  MZ169910      P.1
5469  MZ169911      P.1
5470  MZ020420      P.1

[5471 rows x 2 columns]

In [4]:
alpha = pd.read_csv("alphavariant.csv")

In [16]:
alpha

      Accession Pangolin                Geo_Location Collection_Date country
0      MZ497557  B.1.1.7          USA: West Virginia      2021-03-15     USA
1      MZ497558  B.1.1.7          USA: West Virginia      2021-03-15     USA
2      MZ497560  B.1.1.7          USA: West Virginia      2021-03-15     USA
3      MZ497561  B.1.1.7          USA: West Virginia      2021-03-15     USA
4      MZ497562  B.1.1.7          USA: West Virginia      2021-03-15     USA
...         ...      ...                         ...             ...     ...
87585  MW430966  B.1.1.7             USA: California      2020-12-20     USA
87586  MW430974  B.1.1.7                USA: Florida      2020-12-19     USA
87587  MW423686  B.1.1.7              Italy: Abruzzo      2020-12-27   Italy
87588  MW422255  B.1.1.7  USA: San Diego, California      2020-12-29     USA
87589  MW422256  B.1.1.7                         USA      2020-12-24     USA

[87590 rows x 5 columns]

In [15]:
alpha["country"]=[location[0] for location in alpha["Geo_Location"].str.split(':')]

In [19]:
alpha.value_counts('country')

country
USA                   86999
Ghana                   116
Spain                    72
Austria                  71
India                    53
Iraq                     48
Bahrain                  43
Djibouti                 28
West Bank                24
Bangladesh               23
Hong Kong                18
Pakistan                 17
Japan                    17
Philippines              12
Egypt                    11
Italy                     7
Taiwan                    5
Poland                    4
Togo                      4
Somalia                   2
Thailand                  2
Libya                     2
Myanmar                   2
Saudi Arabia              1
United Kingdom            1
Germany                   1
Finland                   1
Dominican Republic        1
Tunisia                   1
Cambodia                  1
Peru                      1
Turkey                    1
Morocco                   1
dtype: int64

In [20]:
def country_counts(variant):
    varDF = pd.read_csv(f"{variant}variant.csv")
    varDF["country"]=[location[0] for location in varDF["Geo_Location"].str.split(':')]
    display(varDF.value_counts('country'))

In [68]:
def country_time_counts(variant):
    varDF = pd.read_csv(f"{variant}variant.csv")
    varDF["country"]=[location[0] for location in varDF["Geo_Location"].str.split(':')] 
    varDF["time"] = [str(date)[:7].replace('-','/') for date in varDF["Collection_Date"]]
    
    display(varDF.value_counts(['country','time']))
    display(varDF.groupby(['country','time']).agg(lambda x: x.iloc[np.random.choice(range(len(x)))])["Accession"])
    subsample_acc_file = open(f'{variant}_sub_accesions.txt','w')
    for acc in varDF.groupby(['country','time']).agg(lambda x: x.iloc[np.random.choice(range(len(x)))])["Accession"]:
        subsample_acc_file.write(acc+'\n')

In [70]:
for x in ['alpha','beta','gamma','delta']:
    print(x)
    country_time_counts(x)

alpha

country       time
USA           2021/04    41361
              2021/05    22298
              2021/03    18015
              2021/02     2771
              2021/06     2262
                         ...
Italy         2021/03        1
Morocco       2021/01        1
Peru          2020/12        1
Saudi Arabia  2021/04        1
Iraq          2021/01        1
Length: 84, dtype: int64

country         time
Austria         2021/02    MW909565
                2021/03    MW913382
                2021/04    MW913369
Bahrain         2021/01    MW704354
                2021/02    MW704287
                             ...
USA             2021/05    MZ498398
                2021/06    MZ432970
United Kingdom  2020/11    MZ376737
West Bank       2021/02    MW858246
                2021/04    MZ207873
Name: Accession, Length: 84, dtype: object

beta

country         time
USA             2021/04    134
                2021/03     83
                2021/05     70
United Kingdom  2021/01     45
USA             2021/02     32
United Kingdom  2021/02     27
                2020/12     26
Djibouti        2021/03     10
United Kingdom  2020         9
Djibouti        2021/04      8
India           2021/02      5
Ghana           2021/01      4
Hong Kong       2021/04      4
India           2021/03      3
United Kingdom  2021/03      3
South Africa    2020/11      3
Germany         2021/01      2
Hong Kong       2021/05      2
United Kingdom  nan          2
Bangladesh      2021/05      2
Philippines     2021/03      2
                2021/04      2
USA             2021/01      2
Italy           2021/03      1
Pakistan        2021/04      1
United Kingdom  2021/04      1
Hong Kong       2021/02      1
Taiwan          2021/03      1
Germany         2021/02      1
Tunisia         2021/04      1
France          2021/01      1
USA             2021/06      1
Saudi Arabia    2021/04      1
dtype: int64

country         time
Bangladesh      2021/05    MZ401461
Djibouti        2021/03    MZ394616
                2021/04    MZ394580
France          2021/01    MW580244
Germany         2021/01    MW822592
                2021/02    MZ433432
Ghana           2021/01    MW598413
Hong Kong       2021/02    MZ266525
                2021/04    MZ266502
                2021/05    MZ266366
India           2021/02    MZ317908
                2021/03    MZ314964
Italy           2021/03    MW789246
Pakistan        2021/04    MZ413998
Philippines     2021/03    MZ068154
                2021/04    MZ068161
Saudi Arabia    2021/04    MZ215961
South Africa    2020/11    MZ376663
Taiwan          2021/03    MZ277392
Tunisia         2021/04    MZ227558
USA             2021/01    MW580574
                2021/02    MW763128
                2021/03    MZ004754
                2021/04    MZ061538
                2021/05    MZ281742
                2021/06    MZ450533
United Kingdom  2020       OB998534
                2020/12    OD913780
                2021/01    OD961744
                2021/02    OD989241
                2021/03    OU031749
                2021/04    OU032444
                nan        HG999939
Name: Accession, dtype: object

gamma

country     time
USA         2021/04    2473
            2021/05    2176
            2021/03     564
            2021/06     420
            2021/02      25
            2021/01       4
Taiwan      2021/01       4
Italy       2021/01       2
Brazil      2021/04       2
            2021/03       2
            2021/02       2
Uruguay     2021/03       1
Peru        2021/02       1
Brazil      2020/12       1
Bangladesh  2021/02       1
dtype: int64

country     time
Bangladesh  2021/02    MZ020420
Brazil      2020/12    MZ264787
            2021/02    MZ169910
            2021/03    MZ397164
            2021/04    MZ397166
Italy       2021/01    MW642248
Peru        2021/02    MW938104
Taiwan      2021/01    MZ277386
USA         2021/01    MW558281
            2021/02    MW840402
            2021/03    MW963218
            2021/04    MZ210443
            2021/05    MZ320911
            2021/06    MZ412043
Uruguay     2021/03    MW988204
Name: Accession, dtype: object

delta

country         time
United Kingdom  2021/06    407
USA             2021/05     78
United Kingdom  2021/05     47
USA             2021/06     27
                2021/04     26
United Kingdom  2021/04     10
                2020         4
USA             2021/03      4
India           2021/04      3
Bangladesh      2021/05      3
United Kingdom  2020/07      1
Myanmar         2020/05      1
Japan           2021/04      1
India           2021/03      1
Bangladesh      2021/06      1
dtype: int64

country         time
Bangladesh      2021/05    MZ401465
                2021/06    MZ470855
India           2021/03    MZ340535
                2021/04    MZ356904
Japan           2021/04    LC633760
Myanmar         2020/05    MZ397171
USA             2021/03    MW931310
                2021/04    MZ284737
                2021/05    MZ281111
                2021/06    MZ465630
United Kingdom  2020       OU347795
                2020/07    OU348289
                2021/04    OU348053
                2021/05    OU348290
                2021/06    OU347682
Name: Accession, dtype: object

      Accession Pangolin                Geo_Location Collection_Date country
0      MZ497557  B.1.1.7          USA: West Virginia      2021-03-15     USA
1      MZ497558  B.1.1.7          USA: West Virginia      2021-03-15     USA
2      MZ497560  B.1.1.7          USA: West Virginia      2021-03-15     USA
3      MZ497561  B.1.1.7          USA: West Virginia      2021-03-15     USA
4      MZ497562  B.1.1.7          USA: West Virginia      2021-03-15     USA
...         ...      ...                         ...             ...     ...
87585  MW430966  B.1.1.7             USA: California      2020-12-20     USA
87586  MW430974  B.1.1.7                USA: Florida      2020-12-19     USA
87587  MW423686  B.1.1.7              Italy: Abruzzo      2020-12-27   Italy
87588  MW422255  B.1.1.7  USA: San Diego, California      2020-12-29     USA
87589  MW422256  B.1.1.7                         USA      2020-12-24     USA

[87590 rows x 5 columns]